{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">REGITER</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate" method="post">
                        
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                            
                        {% csrf_token %}
                        <div class="control-group">
                            {{ form.code }}
                            <p class="help-block text-danger"></p>
                        </div>
                        {% for error in form.code.errors %}
                        <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}

                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% endblock content %}
    

    