{% extends 'base.html' %}
{% load static %}


{% block content %}

    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                    <tr>
                        <th>Products</th>
                        <th>title</th>
                        <th>price</th>
                        <th>Quantity</th>
                        <th>color</th>
                        <th>size</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody class="align-middle">


                    {% for item in order.items.all %}
                        <tr>
                            <td class="align-middle"><img src="

                                    {% if item.product.active_image %}{{ item.product.active_image.url }}{% else %}{% static 'img/vendor-5.jpg' %}{% endif %}"
                                                          alt="" style="width: 50px;"></td>
                            <td class="align-middle">{{ item.product.title }}</td>
                            <td class="align-middle">${{ item.price }}</td>
                            <td class="align-middle">{{ item.quantity }}</td>
                            <td class="align-middle">{{ item.color }}</td>
                            <td class="align-middle">{{ item.size }}</td>
                            <td class="align-middle">${{ item.total_price }}</td>
                            <form method="post" action="">
                                {% csrf_token %}
                                <td class="align-middle">
                                    <button type="submit" class="btn btn-sm btn-danger"><i
                                            class="fa fa-times"></i></button>
                                </td>
                            </form>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                {% if messages %}
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                {% endif %}
                <form class="mb-30" action="{% url 'order:discount-add' order.id %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">

                        <input type="text" name="discount_code" class="form-control border-0 p-4" placeholder="Discount Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart
                    Summary</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pb-2">
 
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>${{ order.total_price }}</h5>


                        </div>
                        {% if request.user.addresses.all %}
                            <a href="" class="btn btn-block btn-success font-weight-bold my-3 py-3">Proceed To
                                Peyment</a>
                        {% endif %}

                        {% if request.user.addresses.all %}
                            <select class="form-control" aria-label="Default select example">
                                {% for address in request.user.addresses.all %}
                                    <option value="">{{ address.address }}</option>
                                {% endfor %}
                            </select>
                            <a href="{% url 'accounts:add-address' %}?next={% url 'order:order-detail' order.id %}"
                               class="btn btn-block btn-primary font-weight-bold my-3 py-3">Add Another Address</a>

                        {% else %}
                            <a href="{% url 'accounts:add-address' %}?next={% url 'order:order-detail' order.id %}"
                               class="btn btn-block btn-primary font-weight-bold my-3 py-3">You Have To Add Address for
                                Payment/Add Address</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->


{% endblock content %}