{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">


  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% if request.user.image_profile %}{{ request.user.user.profile_image.url }}{% else %}{% static 'user_panel/dist/img/default-150x150.html' %}{% endif %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{ request.user.full_name }}</a>
      </div>
    </div>


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="{% url 'user_panel:index' %}" class="nav-link">
            <i class="nav-icon fa fa-home"></i>
            <p>
              Summary of activities
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'user_panel:user_profile' %}" class="nav-link">
            <i class="nav-icon fa fa-user"></i>
            <p>
              My profile
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'user_panel:order_list' %}" class="nav-link">
            <i class="nav-icon fa fa-shopping-bag"></i>
            <p>
              My orders
            </p>
          </a>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>